# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ingore IntelliJ IDEA 
.intellij_idea
.idea
.vscode
.vercel

# Ingore Config

/config/ifl_config.json
/config/keystores

# Instafel APP

/instafel.app/build
/instafel.app/output


# Instafel Patcher

/instafel.patcher/output
/instafel.patcher/apktool.jar
/instafel.patcher/bin
/instafel.patcher/src/main/resources/patcher.properties

# Instafel GPlayAPI

/instafel.gplayapi/output
/instafel.gplayapi/build
/instafel.gplayapi/.gradle
/instafel.gplayapi/bin
/instafel.gplayapi/src/main/resources/gplayapi.properties

# Instafel Updater

/instafel.updater/output
/instafel.updater/*.iml
/instafel.updater/.gradle
/instafel.updater/local.properties
/instafel.updater/.idea/caches
/instafel.updater/.idea/libraries
/instafel.updater/.idea/modules.xml
/instafel.updater/.idea/workspace.xml
/instafel.updater/.idea/navEditor.xml
/instafel.updater/.idea/assetWizardSettings.xml
/instafel.updater/.DS_Store
/instafel.updater/build
/instafel.updater/captures
/instafel.updater/.externalNativeBuild
/instafel.updater/.cxx
/instafel.updater/local.properties